# Ignore dotfiles
.editorconfig
.gitignore
.prettierrc
.stylelintrc.js
# Ignore build stuff
Makefile
# Ignore node_modules
node_modules/
# Ignore markdown
*.md
# Ignore test files
**/*_test.go
goss.yaml
coverage.html
# Ignore dev database file
database/file/
