# Ignore IDE folders
.vscode/
# Ignore node_modules
node_modules/
# Ignore test artifacts
coverage.html
# Ignore database file
database/file/mike.db
# Ignore TLS cert and key
secrets/*
!secrets/.gitkeep
# Ignore built assets files
assets/
