<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mike-Sierra-Sierra - App</title>
        <link rel="stylesheet" href="/assets/style.css" />
    </head>
    <body>
        <main class="main" role="main">
            <div class="player">
                <audio controls>
                    <source
                        src="/music/12- Glenn Stafford - Zerg Two.flac"
                        type="audio/flac"
                    />
                </audio>
            </div>
        </main>
    </body>
</html>
