<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mike-Sierra-Sierra - App</title>
        <link rel="stylesheet" href="{{.StylesheetURI}}" />
    </head>
    <body class="mss-grid-body">
        {{with .HeaderPresenter}}
        <header class="mss-app-header">
            <div class="mss-app-header-app-name">Mike-Sierra-Sierra</div>
            <div class="mss-app-header-spacer"></div>
            <div class="mss-app-header-current-user">
                <img
                    src="https://www.gravatar.com/avatar/00000000000000000000000000000000?s=32"
                    alt="Gravatar profile picture"
                    class="mss-app-header-current-user-avatar"
                /><span>{{.Username}}</span>
            </div>
            <div class="mss-app-header-sign-out">
                <a
                    class="mss-app-header-sign-out-link"
                    href="/sign-out"
                    tabindex="2"
                    >Sign out</a
                >
            </div>
        </header>
        {{end}}
        <nav class="mss-app-sidebar">
            <section>
                <h3 class="mss-app-sidebar-title">Music</h3>
                <ul class="mss-app-sidebar-menu">
                    <li>
                        <a href="/home" class="mss-app-sidebar-link">Home</a>
                    </li>
                    <li>
                        <a href="/home" class="mss-app-sidebar-link"
                            >All Songs</a
                        >
                    </li>
                    <li>
                        <a href="/folders" class="mss-app-sidebar-link"
                            >Browse by Folder</a
                        >
                    </li>
                    <li>
                        <a href="/home" class="mss-app-sidebar-link">Albums</a>
                    </li>
                    <li>
                        <a href="/home" class="mss-app-sidebar-link">Artists</a>
                    </li>
                    <li>
                        <a href="/home" class="mss-app-sidebar-link">Genres</a>
                    </li>
                </ul>
            </section>
        </nav>
        <nav class="mss-app-breadcrumbs">Breadcrumbs</nav>
        <main class="mss-app-main">Main</main>
        <footer class="mss-app-footer">
            <audio controls class="mss-app-player">
                <source
                    src="/music/12- Glenn Stafford - Zerg Two.flac"
                    type="audio/flac"
                />
            </audio>
        </footer>
        <noscript>Mike-Sierra-Sierra needs JavaScript to function.</noscript>
        <script src="{{ .AppURI }}" type="module"></script>
    </body>
</html>
