<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mike-Sierra-Sierra - Login</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <main class="main" role="main">
        <div class="login-form">
            <h2 class="login-form-title">Please login:</h2>
            <form>
                <div class="login-form-element form-element-disabled">
                    <label class="form-label" for="email">Email:</label>
                    <input
                        class="form-input login-form-input"
                        type="text"
                        name="email"
                        id="email"
                        placeholder="Email"
                        autocomplete="email"
                        tabindex="1"
                        disabled
                    >
                </div>
                <div class="login-form-element form-element-disabled">
                    <label class="form-label" for="password">Password:</label>
                    <input
                        class="form-input login-form-input"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Password"
                        autocomplete="current-password"
                        tabindex="2"
                        disabled
                    >
                </div>

                <button type="submit" class="button-primary login-form-submit">Login</button>
            </form>
        </div>
    </main>
</body>
</html>
