<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mike-Sierra-Sierra - Login</title>
        <link rel="stylesheet" href="{{.StylesheetURI}}" />
    </head>
    <body class="login-body">
        <main class="login-main" role="main">
            <div class="login-form">
                <h2 class="login-form-title">Please login:</h2>
                <form method="POST" action="/login">
                    <div class="login-form-element">
                        <label class="form-label" for="email">Email:</label>
                        <input
                            class="form-input login-form-input"
                            type="text"
                            name="email"
                            id="email"
                            placeholder="Email"
                            autocomplete="email"
                            tabindex="1"
                        />
                    </div>
                    <div class="login-form-element">
                        <label class="form-label" for="password"
                            >Password:</label
                        >
                        <input
                            class="form-input login-form-input"
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Password"
                            autocomplete="current-password"
                            tabindex="2"
                        />
                    </div>

                    <button
                        type="submit"
                        class="button-primary login-form-submit"
                    >
                        Login
                    </button>
                </form>
            </div>
        </main>
    </body>
</html>
