<nav class="mss-app-sidebar">
    <section>
        <h3 class="mss-app-sidebar-title">Music</h3>
        <ul class="mss-app-sidebar-menu">
            <li>
                <side-bar-link uri="/" label="Home">
                    <i
                        class="fas fa-fw fa-home mss-button-icon"
                        slot="icon"
                    ></i>
                </side-bar-link>
            </li>
            <li>
                <side-bar-link uri="/" label="All Songs">
                    <i
                        class="fas fa-fw fa-music mss-button-icon"
                        slot="icon"
                    ></i>
                </side-bar-link>
            </li>
            <li>
                <side-bar-link uri="folders" label="Browse by Folder">
                    <i
                        class="fas fa-fw fa-folder mss-button-icon"
                        slot="icon"
                    ></i>
                </side-bar-link>
            </li>
            <li>
                <side-bar-link uri="/" label="Albums">
                    <i
                        class="fas fa-fw fa-compact-disc mss-button-icon"
                        slot="icon"
                    ></i>
                </side-bar-link>
            </li>
            <li>
                <side-bar-link uri="/" label="Artists">
                    <i
                        class="fas fa-fw fa-user-circle mss-button-icon"
                        slot="icon"
                    ></i>
                </side-bar-link>
            </li>
            <li>
                <side-bar-link uri="/" label="Genres">
                    <i
                        class="fas fa-fw fa-tags mss-button-icon"
                        slot="icon"
                    ></i>
                </side-bar-link>
            </li>
        </ul>
    </section>
</nav>
