<nav class="mss-app-sidebar">
    <section>
        <h3 class="mss-app-sidebar-title">Music</h3>
        <ul class="mss-app-sidebar-menu">
            <li>
                <mss-side-bar-link uri="/" label="Home">
                    <i
                        class="fa fa-fw fa-home mss-button-icon"
                        aria-hidden="true"
                        slot="icon"
                    ></i>
                </mss-side-bar-link>
            </li>
            <li>
                <mss-side-bar-link uri="/" label="All Songs">
                    <i
                        class="fa fa-fw fa-music mss-button-icon"
                        aria-hidden="true"
                        slot="icon"
                    ></i>
                </mss-side-bar-link>
            </li>
            <li>
                <mss-side-bar-link uri="folders" label="Browse by Folder">
                    <i
                        class="fa fa-fw fa-folder mss-button-icon"
                        aria-hidden="true"
                        slot="icon"
                    ></i>
                </mss-side-bar-link>
            </li>
            <li>
                <mss-side-bar-link uri="/" label="Albums">
                    <i
                        class="fa fa-fw fa-picture-o mss-button-icon"
                        aria-hidden="true"
                        slot="icon"
                    ></i>
                </mss-side-bar-link>
            </li>
            <li>
                <mss-side-bar-link uri="/" label="Artists">
                    <i
                        class="fa fa-fw fa-user-circle mss-button-icon"
                        aria-hidden="true"
                        slot="icon"
                    ></i>
                </mss-side-bar-link>
            </li>
            <li>
                <mss-side-bar-link uri="/" label="Genres">
                    <i
                        class="fa fa-fw fa-tags mss-button-icon"
                        aria-hidden="true"
                        slot="icon"
                    ></i>
                </mss-side-bar-link>
            </li>
        </ul>
    </section>
</nav>
