<nav class="mss-app-sidebar">
    <section>
        <h3 class="mss-app-sidebar-title">Music</h3>
        <ul class="mss-app-sidebar-menu" id="sidebar-menu-app-links">
            <li>
                <a href="/" class="mss-app-sidebar-link" data-router-link
                    ><i class="fas fa-fw fa-home mss-button-icon"></i>Home</a
                >
            </li>
            <li>
                <a href="/" class="mss-app-sidebar-link" data-router-link
                    ><i class="fas fa-fw fa-music mss-button-icon"></i>All
                    Songs</a
                >
            </li>
            <li>
                <a href="folders" class="mss-app-sidebar-link" data-router-link>
                    <i class="fas fa-fw fa-folder mss-button-icon"></i>Browse by
                    Folder</a
                >
            </li>
            <li>
                <a href="/" class="mss-app-sidebar-link" data-router-link
                    ><i class="fas fa-fw fa-compact-disc mss-button-icon"></i
                    >Albums</a
                >
            </li>
            <li>
                <a href="/" class="mss-app-sidebar-link" data-router-link
                    ><i class="fas fa-fw fa-user-circle mss-button-icon"></i
                    >Artists</a
                >
            </li>
            <li>
                <a href="/" class="mss-app-sidebar-link" data-router-link
                    ><i class="fas fa-fw fa-tags mss-button-icon"></i>Genres</a
                >
            </li>
        </ul>
    </section>
</nav>
