<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Mike-Sierra-Sierra - Sign in</title>
        <link rel="stylesheet" href="{{.StylesheetURI}}" />
    </head>
    <body class="mss-flex-body">
        <main class="mss-centered-main" role="main">
            <div class="mss-sign-in-form">
                <h2 class="mss-sign-in-form-title">Please sign in:</h2>
                <form method="POST" action="/sign-in">
                    <div class="mss-form-element">
                        <label class="mss-form-label" for="email">Email:</label>
                        <input
                            class="mss-form-input mss-form-input-large"
                            type="text"
                            name="email"
                            id="email"
                            placeholder="Email"
                            autocomplete="email"
                            tabindex="1"
                            required
                        />
                    </div>
                    <div class="mss-form-element">
                        <label class="mss-form-label" for="password"
                            >Password:</label
                        >
                        <input
                            class="mss-form-input mss-form-input-large"
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Password"
                            autocomplete="current-password"
                            tabindex="2"
                            required
                        />
                    </div>

                    <button
                        type="submit"
                        class="
                            mss-button-primary mss-button-wide mss-button-large
                        "
                    >
                        Sign in
                    </button>
                </form>
            </div>
        </main>
    </body>
</html>
